Calendar Workflow.json
{
  "name": "Calendar Workflow",
  "nodes": [
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "YOUR_CALENDAR",
          "mode": "list",
          "cachedResultName": "YOUR_CALENDAR"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [368, 96],
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "REMOVED",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $fromAI('To', ``, 'string') }}",
        "subject": "={{ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [48, 96],
      "name": "Send a message in Gmail",
      "credentials": {
        "gmailOAuth2": {
          "id": "REMOVED",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [336, -112],
      "name": "Send a text message",
      "credentials": {
        "telegramApi": {
          "id": "REMOVED",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $fromAI('Limit', ``, 'number') }}",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [208, 96],
      "name": "Get many messages in Gmail",
      "credentials": {
        "gmailOAuth2": {
          "id": "REMOVED",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [-144, 96],
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "REMOVED",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are a Telegram assistant that creates Google Calendar reminders and manages emails.\n\nIncoming Telegram messages may request ONLY ONE action:\n\nGet emails\n\nSend an email\n\nSet a calendar reminder\n\nYou MUST detect the user’s intent and execute ONLY the requested action.\n\n✅ INTENT RULES\n1) GET EMAILS\n\nIf the user asks to read/check/fetch emails:\n\nRetrieve emails using the email tool.\n\nDo NOT send emails.\n\nDo NOT create calendar events.\n\n2) SEND EMAIL\n\nIf the user asks to send an email and includes an email address:\n\nSend the email using the given content.\n\nDo NOT create calendar events unless explicitly asked.\n\n3) SET CALENDAR REMINDER\n\nIf the user asks to set a reminder / schedule / notify and includes a date:\n\n🚨 STRICT DATE RULES\n\nExtract the date EXACTLY as mentioned by the user.\n\nConvert the extracted date into ISO format: YYYY-MM-DD.\n\nConvert the extracted time into 24-hour format: HH:MM.\n\nYou MUST NOT use today’s date unless the user explicitly says \"today\".\n\nIf the date is missing, DO NOT create any calendar event.\n\n🚨 STRICT EVENT RULES\n\nCreate exactly ONE Google Calendar event.\n\nThe event start time MUST be the extracted date + extracted time.\n\nIf no time is provided, default to 09:00 AM – 10:00 AM local time.\n\nThe event end time must be exactly 1 hour after the start time.\n\n🚨 TITLE RULE (IMPORTANT)\n\nThe calendar event MUST always have a title.\n\nThe title MUST be derived from the reminder content.\n\nIf the user writes \"reminder as: ____\", that text MUST be the title.\n\nIf no reminder title is given, generate a short meaningful title (max 6 words).\n\nDESCRIPTION RULE\n\nThe description MUST contain the original Telegram message exactly.\n\nREMINDER RULE\n\nAdd exactly ONE notification reminder.\n\n✅ OUTPUT FORMAT RULE (VERY IMPORTANT)\n\nWhen creating a calendar event, you MUST output the extracted details first in this exact format:\n\nEXTRACTED_DATE: YYYY-MM-DD\nEXTRACTED_START_TIME: HH:MM\nEXTRACTED_END_TIME: HH:MM\nTITLE: <event title>\n\nThen create the calendar tool call using those exact extracted values.\n\n✅ EXECUTION RULES\n\nDo not ask questions.\n\nDo not explain your reasoning.\n\nExecute only one action.\n\nNever schedule on today unless user says \"today\".\n\nExample\n\nUser: \"set a reminder 20 Feb 2026 by 3 pm reminder as: Buy grocery\"\n\nAssistant must output:\n\nEXTRACTED_DATE: 2026-02-20\nEXTRACTED_START_TIME: 15:00\nEXTRACTED_END_TIME: 16:00\nTITLE: Buy grocery\n\nThen create the calendar event using exactly these values."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-16, -112],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [-224, -112],
      "name": "Telegram Trigger",
      "credentials": {
        "telegramApi": {
          "id": "REMOVED",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Create an event in Google Calendar": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Send a message in Gmail": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "Get many messages in Gmail": {
      "ai_tool": [[{ "node": "AI Agent", "type": "ai_tool", "index": 0 }]]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Send a text message", "type": "main", "index": 0 }]]
    },
    "Telegram Trigger": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "tags": []
}